body {

    
    font-family:arial; /* Troca a fonte */
    font-size: 1.5em;  /* Deixa o texto maior*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
li{
  font-size: 2em;
    width: 940px;
    margin: 0 auto;
    display: flex;
    color:  #333333;
   
}
.nav {
 display: flex;
  width: 100vw; /* Aumentando o tamanho */
  height: 50px;
  line-height: 20px; /* Mantém a letra centralizada */
  font-size: 20px; /* Aumenta a fonte */
}

.nav a {
  flex: 1; /* Cada link ocupa o mesmo espaço */
  text-align: center;
  padding: 15px 0; /* Ajusta a altura */
  border: 2px solid white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #222222;
  ;
}
.nav a:hover {
  background-color:  #333333;
  
  color:  #f0f0f0;
}
.nav a:first-child {
  border-left: none;
}

.nav a:last-child {
  border-right: none;
}



  
  h4, p {
    margin: 0;  } /* Tira a margem Paradrao */
    h1 {
      font-size: 3em;
    }
    .Texto{
      
      color: #6e6e6e;     /* Muda a cor do texto*/
      text-align: justify; /* Justifica */
      text-indent: 50px;   
      display: flex;
      width: 940px;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 15px;

     
    }
   img {
    width: 940px;
    margin: 0 auto;
    display: flex;
    width: 600px
   }
   
   .titulo {
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
    color: black;
    
   }
   
   
   
   .andar{

    width: 940px;
    margin: 0 auto;
    display: flex;
   }
   
    
   @media (max-width: 768px) {
    body {
        font-size: 14px;
        max-width: 90%;
    }

    nav {
      
      font-size: 14px; /* Ajuste da fonte para caber melhor no quadrado */
      width: 100vw;
  }

  nav a {
      padding: 8px 15px;
      margin: 0 3px;
      width: 100vw; ;
    }

    

 

    h1 {
        font-size: 3em;
        max-width: 94%;
        

    }

    h2 {
        font-size: 1.2em;
        max-width: 90%;
    }
    
      img {
          max-width: 90%; /* Limita o tamanho da imagem em telas pequenas */
      }
      li {font-size: 1.5em;
        max-width: 90%;
        }
       .Texto {
        font-size: 1.5em;
        max-width: 90%;
}
   }